<h1> Please create an account </h1>
<div>
	<% if @error %>
		 <span class="red-text text-darken-2"><%= @error %></span>
	<% end %>
</div>
<div>
	<%= form_tag '/login' %>
	Username: <%= text_field_tag :username %>
	password: <%=password_field_tag :password %>
	<%= submit_tag "Login" %>
</div>
