<h1>Hi <%= @owner.name %>! </h1>
<% if @dogs.any? %>
	<div>
		<h1>Here are your perfect dogs!</h1>
		<ul>
			<% @dogs.each do |dog| %>
				<li><%= link_to "#{dog.name}", dog %></li>
		</ul>
	</div> 
		<% end %>
<% else %>
	<h1>You don't have any dogs <%= link_to "go make some!", new_dog_path %></h1>
<% end %>
<div>
	<%= link_to "Edit Profile", edit_owner_path(@owner) %>
	<%= link_to "Delete Profile", @owner, method: :delete %>
</div>