<h1>Update your dream dog</h1>
<div>
	<% if @errors && @errors.any? %>
		<% @errors.each do |error| %>
			 <ul>
			 	<li><%= error %></li>
			 </ul>
			
		<% end %>
		
	<% end %>
</div>
<div>
	<%= form_for @dog do |f| %>
		<ul style="list-style-type: none;">
			<li>Name: <%= f.text_field :name %></li>
			<li>Age: <%= f.text_field :age %></li>
			<li>Eye Color: <%= f.text_field :eyes %></li>
			<li>Fur Color: <%= f.text_field :color %></li>
			<li>Weight: <%= f.text_field :weight %></li> 
			<li>Height: <%= f.text_field :height %></li>
			<li>Personality: <%= f.text_field :personality %></li>
			<li>Sex: <%= f.select :sex, ["Male", "Female"] %></li>
			<li><%= f.submit "Update" %></li>
		</ul>
	<% end %>
</div>
