<h1>Look at all these perfect dogs!</h1>
<div>
	<% if @errors %>
		<%= @errors %>	
	<% end %>
</div>
<div>
	<ul>
		<% if @dogs.any? %>
			<% @dogs.each do |dog| %>
				<li><%= link_to "#{dog.name}", dog %> has <%= dog.likes.length %> 
					<% if dog.likes.length == 1 %>
						like and has 
					<% else %>
						likes and has
					<% end %>
				 		<%= dog.dislikes.length %> 
					<% if dog.dislikes.length == 1 %>
						dislike
					<% else %>
						dislikes
					<% end %></li>
			<% end %>
		<% else %>
			<h1>Looks like there aren't any dogs yet. Go make one <%= link_to "create a dog", dogs_path %></h1>
		<% end %>
	</ul>
</div>