 <div>
 	<% if current_user %>
	 	<div>
		 	<% if @errors && @errors.any? %>
		 		<% @errors.each do |error| %>
		 		<ul>
		 			<li class="red-text text-darken-2"><%= error %></li>
		 		</ul>
		 		<% end %>	
		 	<% end %>
		</div>
	<div>
		<h1>Create Your Perfect Dog</h1>
		<%= form_for @dog do |f| %>
		<ul style="list-style-type: none;">
			<li><%= f.text_field :name, placeholder: "name" %></li>
			<li><%= f.text_field :age, placeholder: "age" %></li>
			<li><%= f.text_field :eyes, placeholder: "eye color" %></li>
			<li><%= f.text_field :color, placeholder: "fur color" %></li>
			<li><%= f.text_field :weight, placeholder: "weight" %></li> 
			<li><%= f.text_field :height, placeholder: "height" %></li>
			<li><%= f.text_field :personality, placeholder: "personality" %></li>
			<%= f.hidden_field :owner_id, value: current_user.id %>
			<li><%= f.select :sex, ["Male", "Female"] %></li>
			<li><%= f.submit "Create Your Dream Dog" %></li>
		</ul>
		<% end  %>
	</div>
	<% else %>
		<h1>Please login or create an account to create your perfect dog!</h1>
	<% end %>
</div>