<p><h1>This is <%= @dog.name %> and this dog's owner is <%= @dog.owner.name %></h1>
<div>
	<% if @errors %>
		<%= @errors %>	
	<% end %>
</div>
<div>
	<ul style="list-style-type: none;">
		<li>Name: <%= @dog.name %></li>
		<li>Age: <%= @dog.age %></li>
		<li>Niceness: <%= @dog.personality %></li>
		<li>Fur Color: <%= @dog.color %></li>
		<li>Weight: <%= @dog.weight %></li>
		<li>Height: <%= @dog.height %></li>
	</ul>
</div></p>
<div>
	<% if current_user %>
		<ul>
			<%= button_to "Like", dog_likes_path(@dog), method: :post %> 
			<% if @dog.likes.any? %>
				<%= @dog.likes.length %>
			<% end %>
			<%=button_to "Dislike", dog_dislikes_path(@dog), method: :post %>
			<% if @dog.dislikes.any? %>
				<%= @dog.dislikes.length %>	
			<% end %>
		</ul>
	<% end %>
</div>
<div>
	<% if @comments.any? %>	
		<h1>Comments</h1>
		<% @comments.each do |comment| %>	
		<ul>
			<li><%= comment.description %></li>
			<% if current_user.id == @dog.owner.id || @owner.id == comment.owner.id %>
				<%= link_to "Delete Comment", dog_comment_path(@dog, comment), method: :delete %>
			<% end %>
		</ul>
		<% end %>
	<% end %>
</div>
<div>
	<% if current_user %>
		<%= link_to "Make a Comment", new_dog_comments_path(@dog) %>
	<% end %>
</div>
<div>
	<% if current_user && @dog.owner.id == current_user.id %>
		<%= link_to "Edit", edit_dog_path(@dog) %>
		<%= link_to	"Delete", dog_path(@dog), method: :delete %>	
	<% end %>
</div>