<!DOCTYPE html>
<html>
  <head>
    <title>CreateYourDreamDog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<%= link_to "Home", root_path %>
  	<% if current_user %>
      <% if @page != "You are on owner page" %>
        <%= link_to "profile", current_user %>
      <% end %>
  		<%= link_to "Logout", '/logout', method: :delete %>
      <% if @page != "new dog page" %>
        <%= link_to "Create Dog", new_dog_path %>
      <% end %>
  	<% else %>
  		<%= link_to "register", new_owner_path %>
      <%= link_to "login", '/login' %>
  	<% end %>
    <%= yield %>
  </body>
</html>
